
#nav_scroll_container
{
    display:flex;
    background-color: white;
    border-radius: 20px;
    margin-right:100px;
    margin-left:100px;
    overflow: scroll;
    gap:20px;
    padding-bottom: 20px;
    padding-top: 20px;

}
